.button-register {
  background-color: #4caf50;
  color: white;
  font-size: 15px;
  padding: 6px 25px;
  border-radius: 3px;
  margin: 5px 2px;
  cursor: pointer;
}

.button-login {
  background-color: #4caf50;
  color: white;
  font-size: 15px;
  padding: 5px 30px;
  border-radius: 3px;
  margin: 5px 0px;
  cursor: pointer;
}
